.home {
  display: flex;
  
  min-height: 100vh;
  width: 100vw;
  background-image: linear-gradient(140deg, #EADEDB 0%, #BC70A4 50%, #BFD641 75%);
}
.menu {
  min-height: 100%;

  padding: 0 10px;
  border-right: black 10px solid;
}
